output = "models"
wipe = true
no-tests = true
add-enum-types = true

[psql]
dbname = "dev"
host = "localhost"
port = 5432
user = "dev"
pass = "dev_password"
schema = "public"
sslmode = "disable"
blacklist = ["migrations"]